!
tacacs-server host {{ tacacs_server_ip }}
!
tacacs-server key {{tacacs_key}}
tacacs-server timeout 10
!
aaa group server tacacs+ {{ tacacs_group_name }}
 server {{ tacacs_server_ip }}
 exit
!
aaa authentication login default group {{ tacacs_group_name }} local
aaa authentication enable default group {{ tacacs_group_name }} local
!
